.cart-items {
  background: #32325d !important;
  color: rgba(255, 255, 255, 0.8) !important;
  border: none !important;
}

.cart-items-price {
  font-weight: bold !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.price-breakdown-table {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 20px !important;
}

.map-component-breakdown {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px !important;
  width: 75% !important;
}
