.footer-router-link {
  color: #ffffff;
  padding: 30px 5px !important;
  font-size: 0.75rem !important;
  text-transform: uppercase;
  text-decoration: none !important;
  display: block;
}

.footer-router-link:hover {
  text-decoration: none !important;
}
