.category-text {
  opacity: 1;
  font-size: 19px;
  text-align: center;
  color: #e9ecef;
}

.list-group-item-new {
  background: rgba(50, 50, 93, 0.4) !important;
  border: none !important;
  cursor: pointer;
}
